/* Regular @import url statements work as you'd expect them to -- alternatively
you can import locally, and they wind up in the resulting bundle */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Rakkas');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

@import '~normalize.css';
@import '~react-md/src/scss/react-md';

$md-primary-color: $md-cyan-700;
$md-secondary-color: $md-light-blue-a-700;

@include react-md-everything;

html {
  padding: 0;
  border: 0;
  font-family: 'Roboto', serif;
  font-size: 16px;

  /* We can nest rules, thanks to cssnext */
  li {
    font-size: 2rem;
  }

  .header {
    .logo {
      font-family: 'Rakkas';
      font-size: 36pt;
      font-weight: 'bold';
      vertical-align: 'middle';
    }
  }
  table.display {
    padding: 100px 5px 5px 5px;
    width: 100%;
    tr.meter {
      td.image {
        width: 15%;
        vertical-align: middle;
        text-align: right;
      }
      td.slider {
        align-content: left;
        text-align: left;
        position: relative;
        width: 70%
      }
      td.slider:after{
          content: "";
          display: block;
          width: 100%;
          height: 5px;
          background-color: $md-light-blue-a-100;
          position: absolute;
          top: 50%;
          z-index: -1;
      }
      td.score {
        text-align: left;
        width: 15%;
        font-family: 'Orbitron';
        font-size: 38pt;
        font-weight: bold;
        color: $md-primary-color;
      }
    }
  }
}
