/* Regular @import url statements work as you'd expect them to -- alternatively
you can import locally, and they wind up in the resulting bundle */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Rakkas');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

@import '~normalize.css';
@import '~react-md/src/scss/react-md';

$md-primary-color: $md-cyan-700;
$md-primary-color-dark: $md-cyan-900;
$md-secondary-color: $md-light-blue-a-700;
$md-secondary-color-light: lighten($md-light-blue-a-700, 25%);

@include react-md-everything;

html {
  padding: 0;
  border: 0;
  font-family: 'Roboto', serif;
  font-size: 1em;

  /* We can nest rules, thanks to cssnext */
  li {
    font-size: 2rem;
  }

  .header {
    .logo {
      font-family: 'Rakkas';
      font-size: 3em;
      font-weight: 'bold';
      vertical-align: 'middle';
    }
  }
  div.score {
    text-align: left;
    font-family: 'Orbitron';
    font-weight: 900;
    font-size: 3em;
    color: $md-primary-color;
    z-index: 5;
    text-shadow: 1px 1px $md-primary-color-dark;
  }
  article.scoreboard {
    span.slider {
        line-height: 50%;
        background-color: $md-secondary-color-light;
        display: inline-block;
        vertical-align: middle;
    }
  }
}
